HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### etc ###

./jenkins
./mysql

### multi-module ###
pilot-admin/build
pilot-admin/src/main/generated
pilot-admin/src/test/generated_tests

pilot-batch/build
pilot-batch/src/main/generated
pilot-batch/src/test/generated_tests

pilot-core/build
pilot-core/src/main/generated
pilot-core/src/test/generated_tests

pilot-test-fixture/build
pilot-test-fixture/src/main/generated
pilot-test-fixture/src/test/generated_tests